# Normalizar finales de línea para todos los archivos de texto
* text=auto eol=lf

# Archivos de código
*.py   text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.yml  text eol=lf

# Cambiado a LF para coherencia
*.sql  text eol=lf


# Archivos binarios (sin tocar)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# (Opcional) Archivos estáticos grandes si usas Git LFS
# /static/** filter=lfs diff=lfs merge=lfs -text
