# Entornos virtuales
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de bases de datos temporales
*.sqlite3
*.db

# Archivos de configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Archivos temporales o de prueba
*.bak
*.swp
*.tmp

# Otros (según tu sistema o extensiones)
.codegpt
