# Normalizar finales de línea para todos los archivos de texto
* text=auto eol=lf

# Archivos binarios (no tocar finales de línea)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# Para proteger tus fuentes y assets estáticos
/static/** filter=lfs diff=lfs merge=lfs -text
*.sql text eol=crlf
