{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="page-title">Editar Registro de Cambio</h1>
        <form method="POST" action="{{ url_for('historial_bp.editar_historial_cambio', id=historial.id) }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.tabla_afectada.label(class="form-label") }}
                {{ form.tabla_afectada(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.registro_id.label(class="form-label") }}
                {{ form.registro_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.usuario_id.label(class="form-label") }}
                {{ form.usuario_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.tipo_cambio.label(class="form-label") }}
                {{ form.tipo_cambio(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.detalle_cambio.label(class="form-label") }}
                {{ form.detalle_cambio(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('historial_bp.listar_historial_cambios') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
